.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.logo span {
  text-transform: capitalize;
  color: rgba(251, 251, 251, 1);
  font-size: 20px;
  line-height: 19.26px;
  font-weight: 600;
}

/*Variant: navbarLogo => Logo placed in navbar */
.logo img {
  border-radius: 6px;
  width: 17.11px;
  height: 17.11px;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 50px;
    height: 507px;
  }

  .logo span {
    font-size: 17.1px;
    line-height: 25.65px;
  }
}

/*Variant: formLogo => Logo placed in form (auth or log out) */
.formLogo img {
  width: 50px;
  height: 50px;
}

.formLogo span {
  font-size: 24px;
  line-height: 28.67px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .logo svg {
    width: 35.95px;
    height: 35.97px;
  }

  .logo span {
    font-size: 26.96px;
    line-height: 40.44px;
  }
}
