.cont {
  align-items: center;
  display: flex;
  height: 100%;
  overflow-y: auto;
  padding: 10px 10px;
}

.lightCont {
  background: var(--icon-user-plus-fill-color);
  color: var(--welcome-bg-gradient);
}

.darkCont {
  background: var(--fundal);
  color: white;
}

.violetCont {
  background: var(--secondary-color);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: -webkit-fill-available;
}

.main {
  flex-grow: 1;
  background: transparent;
}
