@import "../../styles/variables.css";

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 35px;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  width: 100%;
}

.listItem {
  align-items: center;
  border-radius: 5px;
  background: var(--White, #fff);
  display: flex;
  gap: 5px;
  height: 56px;
  padding: 5px;
  text-decoration: none;
}

.active {
  background: var(--Gray);
}

.isBlocked {
  background: var(--label-radio-pink-color);
}

.imgCont {
  align-items: center;
  background: transparent;
  display: flex;
  height: fit-content;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.userImg {
  border-radius: 44px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
  flex-shrink: 0;
  height: 30px;
  width: 30px;
}

.isOnline {
  border-radius: 50%;
  border: solid 2px var(--Gray-2);
  height: 12px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 12px;
}

.online {
  background: var(--Green);
}

.notOnline {
  background: var(--Red);
}

.infoCont {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: -webkit-fill-available;
}

.name {
  color: var(--Dark, #1c2434);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: clamp(12px, 3vw, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 157.143% */
}

.lastMessage {
  color: var(--LastMessage);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: clamp(12px, 3vw, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notRead {
  color: var(--rosu);
}

.settingsCont {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.btnCont {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  outline: none;
  width: fit-content;
}

.btnCont > svg {
  transition: all 0.3s ease-in-out;
}

.btnCont > svg:hover {
  fill: var(--Primary);
}

.modalCont {
  align-items: center;
  background: var(--White);
  bottom: 17px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 5px;
  width: fit-content;
  z-index: 6;
}

.modalContDark {
  background: var(--panou);
}

.modalContViolet {
  background: var(--Primary);
}

.modalBtn {
  align-items: center;
  background: var(--transparency-60);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: Satoshi;
  font-size: clamp(12px, 2vw, 14px);
  font-style: normal;
  font-weight: 900;
  line-height: 15px;
  white-space: nowrap;
  height: fit-content;
  justify-content: center;
  outline: none;
  padding: 2px 2px;
  width: 100%;
  transition: all 0.35s ease-in-out;
}

.modalBtn:hover {
  scale: 1.05;
}

.modalBtnB {
  color: var(--Primary);
}

.modalBtnNb {
  color: var(--rosu);
}

.modalBtnNotLight {
  color: var(--rosu);
}

@media screen and (width >=768px) {
  .modalCont {
    right: 6px;
    top: 22px;
  }
}
