.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.noSelected {
  background: var(--tab-activ);
  border: none;
  border-radius: var(--radius-mic);
  color: var(--text);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2px;
  padding: 7px;
  text-align: left;
  transition: all 0.18s ease-in-out;
  width: -webkit-fill-available;
}

.lightNoSelected {
  color: var(--text);
  background: var(--tab-activ);
}

.violetNoSelected {
  color: #5255bc;
  filter: brightness(1.5);
}
