.cont {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 32px;
  height: 100%;
  overflow-y: auto;
  padding: 10px 5px;
}

.lightCont {
  background: var(--icon-user-plus-fill-color);
  color: var(--welcome-bg-gradient);
}

.darkCont {
  background: var(--fundal);
  color: white;
}

.violetCont {
  background: var(--secondary-color);
  color: white;
}

@media screen and (width >=360px) {
  .cont {
    padding: 20px 10px;
  }
}
