.cont {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.lightCont {
  background: var(--icon-user-plus-fill-color);
  color: var(--welcome-bg-gradient);
}

.darkCont {
  background: var(--fundal);
  color: white;
}

.violetCont {
  background: var(--secondary-color);
  color: white;
}
