.cont {
  display: flex;
  flex-direction: column;
}

.strategyCard {
  background: var(--gri);
  border-radius: var(--radius-mic);
  box-shadow: 0 2px 10px #0002;
  color: var(--gri-deschis);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 13px 12px 12px 12px;
}

.firstLine {
  font-weight: 700;
  color: var(--text);
  font-size: 14.5px;
}

.violet {
  color: #5255bc;
  filter: brightness(1.5);
}

.live {
  align-items: center;
  color: var(--accent);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.symbolStrategy {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.startBtn {
  background: var(--accent);
  color: #151b22;
  border: none;
  border-radius: 7px;
  font-weight: 700;
  font-size: 12px;
  margin-top: 8px;
  padding: 4px 0;
  width: 100%;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  box-shadow: 0 2px 12px #37e67333;
}

.stop {
  background: var(--rosu);
  color: #fff;
  box-shadow: 0 2px 12px #ea3c5350;
}
