.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: center;
  padding: 18px 5px;
  width: -webkit-fill-available;
  border-bottom: 1px solid #282b32;
  box-shadow: 0 4px 22px #0001;
}

.hamButton {
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  outline: none;
  width: fit-content;
}

.hamButton > svg {
  transition: all 0.3s ease-in-out;
}

.hamButton > svg:hover {
  fill: var(--accent);
}

.headerLight {
  background: #fcfcfc;

  border-bottom: 1px solid var(--title-welcome-color);
}

.headerDark {
  background: var(--panou);
}

.headerViolet {
  background: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%);

  border-bottom: 1px solid var(--white-60, #fff9);
}

.logoSection {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 14px;
}

.cBotAvatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* border: 1px solid #bedbb0; */
}

.rightContainer {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #161616;
  font-family: Poppins;
  font-size: 14px;
  font-size: clamp(10px, 2vw, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  margin-left: auto;
}

.userContainerDark {
  color: #fff;
}

.userName {
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  overflow: hidden;
  text-wrap: balance;
  transition: all 0.3s ease-in-out;
}

.userNameLight {
  align-items: center;
  color: rgba(22, 22, 22, 0.8);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  overflow: hidden;
  text-wrap: balance;
  transition: all 0.3s ease-in-out;
}

.userName:hover {
  scale: 1.1;
  color: var(--accent);
}

.userName:hover > .cogIcon {
  fill: var(--accent);
}

.userNameLight:hover {
  scale: 1.1;
  color: var(--accent);
}

.userNameLight:hover > .cogIcon {
  fill: var(--accent);
}

.image {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.img {
  border: 2px solid var(--accent);
}

.imgViolet {
  border: 1px solid #5255bc;
}

@media screen and (width >=360px) {
  .header {
    padding: 18px 10px;
  }

  .image {
    height: 42px;
    width: 42px;
  }
}

@media screen and (width >=768px) {
  .header {
    gap: 14px;
    height: 68px;
    /* padding: 18px 18px; */
  }
}

/* @media screen and (width >=1115px) {
  .header {
    height: fit-content; 
     padding: 18px 15px;
  }
} */
