@import "../../styles/variables.css";

.header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid var(--Stroke);
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0 5px;
  width: -webkit-fill-available;
}

.asideHeader {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  height: 50px;
  justify-content: space-between;
  padding-right: 5px;
  width: calc(100% * 0.35);
}

.asideHeaderTitle {
  align-items: center;
  color: rgba(22, 22, 22, 0.8);
  display: flex;
  /* H5 Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  line-height: 1.3; /* 130% */
  text-wrap: wrap;
  height: 26px;
}

.asideHeaderCounter {
  align-items: flex-start;
  border-radius: 6px;
  border: 0.5px solid var(--Stroke);
  background: var(--Gray);
  color: var(--Dark, #1c2434);
  display: inline-flex;

  /* 14 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  line-height: 22px; /* 157.143% */
  padding: 3px 10px;
}

.chatHeaderRight {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 5px;
  position: relative;
  width: calc(100% * 0.65);
}

.leftCont {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  /* width: -webkit-fill-available; */
}

.chatInfo {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.avatar {
  border-radius: 52px;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
}

.usersInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.userName {
  color: var(--Dark, #1c2434);

  /* 16 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.noLight {
  color: var(--white);
}

.reply {
  color: var(--Text-color, #64748b);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.rightContButton {
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-left: auto;
  width: fit-content;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: var(--Text-color);
}
