@import "../../styles/variables.css";

.header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid var(--Stroke);
  display: flex;
  height: 41px;
  justify-content: space-between;
  padding: 0 5px;
  position: relative;
  width: -webkit-fill-available;
}

.leftCont {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  /* width: -webkit-fill-available; */
}

.chatInfo {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.avatar {
  border-radius: 52px;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
}

.usersInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.userName {
  color: var(--Dark, #1c2434);

  /* 16 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.reply {
  color: var(--Text-color, #64748b);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.rightContButton {
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-left: auto;
  width: fit-content;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: var(--Text-color);
}
