.aside {
  border-right: solid 1px var(--Stroke);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% * 0.35);
}

.asideContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  /* justify-content: space-between; */
  overflow: hidden;
  padding: 5px 5px 5px 0;
  width: 100%;
}

.asideNewMesgBtn {
  align-items: center;
  /* background: var(--gri-deschis); */
  background: var(--text);
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--Red);
  cursor: pointer;
  display: flex;
  /* 14 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  justify-content: space-between;
  line-height: 15px; /* 157.143% */
  padding: 5px 10px;
  transition: all 0.35s ease-in-out;
  width: 85px;
}

.asideNewMesgBtn:hover {
  scale: 1.05;
}

.newMsgCont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listCont {
  align-items: center;
  border-radius: 6px;
  background: var(--LastMessage);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 5px 5px;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 100px;
  list-style: none;
  overflow-y: auto;
  padding: 5px 0;
  top: 40px;
  width: 100%;
}

.closeButton {
  align-items: center;
  border: none;
  /* color: red; */
  cursor: pointer;
  display: flex;
  font-size: clamp(11px, 3vw, 14px);
  outline: none;
  position: absolute;
  right: 2px;
  top: 2px;
}

.listItem {
  align-items: center;
  border-radius: 5px;
  background: yellowgreen;
  display: flex;
  gap: 5px;
  height: 56px;
  padding: 5px;
  position: relative;
  text-decoration: none;
}

.isBlocked {
  background: orange;
}

.youAreBlocked {
  background: orangered;
}

.imgCont {
  align-items: center;
  background: transparent;
  display: flex;
  height: fit-content;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.userImg {
  border-radius: 44px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
  flex-shrink: 0;
  height: 30px;
  width: 30px;
}

.isOnline {
  border-radius: 50%;
  border: solid 2px var(--Gray-2);
  height: 12px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 12px;
}

.online {
  background: var(--Green);
}

.notOnline {
  background: var(--Red);
}

.infoCont {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: -webkit-fill-available;
}

.name {
  color: var(--Dark, #1c2434);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: clamp(9px, 3vw, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 157.143% */
}

.lastMessage {
  color: var(--LastMessage);

  /* 14 Medium */
  font-family: Satoshi;
  font-size: clamp(10px, 3vw, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notRead {
  color: var(--Red);
}

.youAreBlockedSpan {
  font-size: 12px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 10;
}

.asideInput {
  background: var(--Gray-2);
  color: var(--Text-color, #64748b);
  cursor: pointer;
  /* 14 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px; /* 157.143% */
  padding: 5px 25px 5px 0;
  transition: all 0.35s ease-in-out;
}

.asideInput:hover,
.asideInput:focus {
  /* outline: 1px solid var(--gri); */
  /* border: 1px solid grey; */
  border-radius: 4px;
}

.asideInputButton {
  background: transparent;
  border: none;
  /* cursor: pointer; */
  outline: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.asideInputSearchIcon {
  background: transparent;
  height: 12px;
  width: 12px;
  color: var(--Text-color, #64748b);
}

.asideChatListCont {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  overflow-y: auto;
}

@media screen and (width >=768px) {
  .asideInput {
    padding-right: 30px;
  }

  .asideInputSearchIcon {
    height: 16px;
    width: 16px;
  }
}
