.aside {
  border-right: solid 1px var(--Stroke);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% * 0.35);
}

.asideHeader {
  align-items: center;
  border-bottom: solid 1px var(--Stroke);
  display: flex;
  /* gap: 58px; */
  height: 50px;
  justify-content: space-between;
  padding-right: 5px;
}

.asideHeaderTitle {
  align-items: center;
  color: rgba(22, 22, 22, 0.8);
  display: flex;
  /* H5 Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  line-height: 1.3; /* 130% */
  text-wrap: wrap;
  height: 26px;
}

.asideHeaderCounter {
  align-items: flex-start;
  border-radius: 6px;
  border: 0.5px solid var(--Stroke);
  background: var(--Gray);
  color: var(--Dark, #1c2434);
  display: inline-flex;

  /* 14 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  line-height: 22px; /* 157.143% */
  padding: 3px 10px;
}

.asideContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  /* justify-content: space-between; */
  overflow: hidden;
  padding: 5px 5px 5px 0;
  width: 100%;
}

.asideInput {
  background: var(--Gray-2);
  color: var(--Text-color, #64748b);
  cursor: pointer;
  /* 14 Medium */
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  padding: 5px 25px 5px 0;
  transition: all 0.35s ease-in-out;
}

.asideInput:hover,
.asideInput:focus {
  /* outline: 1px solid var(--gri); */
  border: 1px solid grey;
  border-radius: 4px;
}

.asideInputButton {
  background: transparent;
  border: none;
  /* cursor: pointer; */
  outline: none;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.asideInputSearchIcon {
  background: transparent;
  height: 12px;
  width: 12px;
  color: var(--Text-color, #64748b);
}

.asideChatListCont {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  overflow-y: auto;
}

@media screen and (width >=768px) {
  .asideInput {
    padding-right: 30px;
  }

  .asideInputSearchIcon {
    height: 16px;
    width: 16px;
  }
}
