.cont {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-between;
  overflow-y: auto;
  padding: 14px;
  padding-bottom: 0;
  width: 235px;
}

.projectsCont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projectsNav {
  display: flex;
  flex-direction: column;
  /* height: 122px; */
  /* flex-grow: 1; */
  /* margin-bottom: 24px; */
  /* overflow-y: auto; */
}

.link {
  color: white;
}

.activeLink {
  color: red;
}

.asideLight {
  background: #fff;
}

.asideViolet {
  background: #5255bc;
}

.asideDark {
  background: var(--panou);
}

.sideLinks {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 20px;
}

.menuBtn {
  background: none;
  border: none;
  color: var(--text);
  display: flex;
  /* font-size: 19px;
  padding: 13px 0 13px 17px; */
  font-size: 16px;
  padding: 7px 0 7px 17px;
  border-radius: var(--radius-mic);
  text-align: left;
  cursor: pointer;
  transition: all 0.18s ease-in-out;
  margin-bottom: 2px;
  font-weight: 500;
  letter-spacing: 1px;
  width: -webkit-fill-available;
}
.menuBtn.activeBtn {
  background: var(--tab-activ);
  color: var(--accent);
}

.menuBtn:hover {
  background: var(--tab-activ);
  color: var(--accent);
}

.lightMenuBtn {
  color: rgba(22, 22, 22, 0.8);
  background: none;
}

.lightMenuBtn:hover {
  background: var(--tab-activ);
  color: var(--accent);
}

.lightActiveMenuBtn {
  background: var(--tab-activ);
  color: var(--accent);
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: 100%;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.noSelected {
  background: var(--tab-activ);
  border: none;
  color: var(--text);
  display: flex;
  font-size: 12px;
  padding: 7px;
  border-radius: var(--radius-mic);
  text-align: left;
  cursor: pointer;
  transition: all 0.18s ease-in-out;
  margin-bottom: 2px;
  font-weight: 500;
  letter-spacing: 1px;
  width: -webkit-fill-available;
}

.balance {
  background: var(--gri);
  border: none;
  border-radius: var(--radius-mic);
  color: var(--accent);
  display: flex;
  font-size: 14px;
  justify-content: center;
  padding: 7px;
  text-align: center;
  transition: all 0.18s ease-in-out;
  margin-bottom: 2px;
  font-weight: 500;
  letter-spacing: 1px;
  width: -webkit-fill-available;
}

.lightNoSelected {
  color: rgba(22, 22, 22, 0.8);
  background: none;
}

.violetNoSelected {
  color: #5255bc;
  /* filter: brightness(1.5); */
}

.logoutButton {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 14px;
  height: fit-content;
  justify-content: center;
  outline: none;
  width: fit-content;
  padding-bottom: 24px;
  padding-left: 14px;
  margin-top: 5px;
  transition: all 0.4s ease-in-out;
}

.logoutButton:hover {
  scale: 0.92;
}

.logoutButtonSpan {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logoutButtonSpanLight {
  color: #161616;
}

.modalLogoutActionCenter {
  align-items: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
}

.logo {
  width: 84px;
  height: fit-content;
  border-radius: 8px;
  flex-shrink: 0;
}

.closeButtonDark svg {
  fill: var(--white);
}

.userContainerDark {
  color: #fff;
}

.question {
  color: red;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 40px;
  margin-top: 100px;

  width: 214px;
}

.questionDark {
  color: #fff;
}

.modalButtonsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.noScroll {
  overflow: hidden;
  /* Prevent scrolling */
}

.violet {
  background: #5255bc;
}

@media screen and (width >=768px) {
  .cont {
    width: 260px;
  }

  .modalLogoutActionCenter {
    margin-top: 0;
    padding: 60px 117px;
  }

  .question {
    margin-top: 50px;
  }

  .balance {
    font-size: 14px;
  }

  .logoutButton {
    padding-left: 24px;
  }
}

@media screen and (width >=1024px) {
  .cont {
    height: 100vh;
    position: static;
  }

  .asideLight {
    border-right: 1px solid var(--title-welcome-color);
  }

  .asideViolet {
    border-right: 1px solid var(--white-60, #fff9);
  }

  .asideDark {
    border-right: 1px solid var(--icon-user-plus-fill-color);
  }
}
