.cont {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
}

.chartArea {
  width: 100%;
  max-width: 1080px;
  height: 300px;
  min-height: 200px;
  background: var(--panou);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 0;
  box-shadow: 0 3px 24px #0003;
  position: relative;
  overflow: hidden;
}

.chartArea img {
  border-radius: 8px;
  height: auto;
  max-height: 220px;
  max-width: 340px;
  position: relative;
  top: -80px;
  user-select: none;
  -webkit-user-drag: none;
  width: auto;
}

.chartAreaText {
  color: var(--accent);
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 6px;
  opacity: 0.19;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
}

.chartAreaBg {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    120deg,
    #23252c 0px,
    #23252c 32px,
    #1e2127 32px,
    #1e2127 64px
  );
  position: absolute;
  left: 0;
  top: 0;
}
