.cont {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-between;
  overflow-y: auto;
  padding: 14px;
  width: 235px;
}

.paramsCont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.asideLight {
  background: #fff;
}

.asideViolet {
  background: #5255bc;
}

.asideDark {
  background: var(--panou);
}

.chatCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.parametersTitle {
  color: var(--accent);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.chatFab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 54px;
  height: 54px;
  background: #37e673;
  color: #151b22;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px 22px #222a;
  z-index: 99;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  transition: all 0.35s ease-in-out;
}
.chatFab:hover {
  background: #2fcf61;
  scale: 1.1;
}

@media screen and (width >=768px) {
  .cont {
    width: 260px;
  }
}

@media screen and (width >=1024px) {
  .cont {
    height: 100vh;
    position: static;
  }

  .asideLight {
    border-left: 1px solid var(--title-welcome-color);
  }

  .asideViolet {
    border-left: 1px solid var(--white-60, #fff9);
  }

  .asideDark {
    border-left: 1px solid var(--icon-user-plus-fill-color);
  }
}
