.cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 10px 5px;
}

.lightCont {
  background: var(--icon-user-plus-fill-color);
  color: var(--welcome-bg-gradient);
}

.darkCont {
  background: var(--fundal);
  color: white;
}

.violetCont {
  background: var(--secondary-color);
  color: white;
}

.tableArea {
  background: var(--panou);
  border-radius: var(--radius-mic);
  box-shadow: 0 3px 18px #0001;
  padding: 14px 9px 8px 9px;
  width: 100%;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeaderCell,
.tableCell {
  padding: 10px 9px;
  text-align: left;
  border-bottom: 1px solid #353945;
  filter: brightness(1.5);
  font-size: clamp(6px, 2vw, 14px); /* min, preferat, max */
}

.tableHeaderCell {
  color: var(--accent);
  text-wrap: auto;
}

.tableCell {
  color: var(--text);
}

.emptyMsg {
  text-align: center;
  color: #555;
  font-size: 16px;
  filter: brightness(1.5);
  padding: 18px 0;
}

.thViolet {
  color: #5255bc;
  filter: brightness(1.5);
}

@media screen and (width >=360px) {
  .cont {
    padding: 20px 10px;
  }
}
