.section {
  position: relative;
  background: transparent;
  display: flex;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  /* padding: 32px 20px; */
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebarWrapper {
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.8s ease-in-out;
  overflow-y: auto;
  z-index: 5;
}

.sidebarWrapperRight {
  background: rgba(21, 21, 21, 0.3);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: -webkit-fill-available;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.8s ease-in-out;
  overflow-y: auto;
  z-index: 5;
}

.bgDark {
  background: rgba(21, 21, 21, 0.5);
}

.sidebarOpen {
  transform: translateX(0);
  opacity: 1;
}

.sidebarClose {
  transform: translateX(-100%);
  opacity: 0;
}

.sidebarRightClose {
  transform: translateX(100%);
  opacity: 0;
}
