.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
  line-height: normal;
  letter-spacing: -0.64px;
  height: 42px;
}

.lightLogo {
  color: #161616;
}

.svg {
  color: #ffffff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.64px;
}

.lightSvg {
  color: #161616;
}

.cBotAvatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* border: 1px solid #bedbb0; */
}
